{namespace neos=Neos\Neos\ViewHelpers}
{namespace typo3cr=Neos\ContentRepository\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<div>
	<f:if condition="{newsCollection}">
		<f:then>
			<typo3cr:widget.paginate nodes="{newsCollection}" as="paginatedNewsItems" widgetId="{node.name}" configuration="{configuration.pagination}">
				<div>
					<f:for each="{paginatedNewsItems}" as="news">
						<ts:render path="newsItem" context="{node: news, inputConfiguration: configuration}" />
					</f:for>
				</div>
			</typo3cr:widget.paginate>
		</f:then>
		<f:else>
			<p><f:translate id="noNewsToDisplay" package="Lelesys.News">No news to display</f:translate></p>
		</f:else>
	</f:if>
</div>