{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace m=Neos\Media\ViewHelpers}

<div>
	<h5><neos:link.node node="{node}">{title}</neos:link.node></h5>
	<p>
		<f:if condition="{dateTime}">
			<span><i><f:format.date format="{configuration.dateFormat}">{dateTime}</f:format.date></i></span>
		</f:if>
		<span>{f:if(condition: '{authorName}', then: ', {f:translate(id: \'by\', package: \'Lelesys.News\')}: {authorName}', else: '')}</span>
		<br />
		<f:if condition="{teaserText}">{teaserText -> f:format.stripTags() -> f:format.crop(maxCharacters: 100, append: '...')}</f:if>
		<neos:link.node node="{node}">
			<f:translate id="readMore" package="Lelesys.News">Read more</f:translate>
		</neos:link.node>
	</p>
</div>